.wrapper {
    width: 100vw;
    padding: 20px;
    margin-top: 20px;
    background: #fff;
}

@media (min-width: 400px) {
    .wrapper {
        width: 400px;
    }
}

.cta {
    margin: 30px 0;
}

.resetButton {
    width: 100%;
}

.backToLogin {
    text-align: center;
    margin-top: 20px;
}